<form method="post" action="{{ path('admin_utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ? Cette action est définitive.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
