{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <div class="container pt-5">
        <h1>Modifier l'utilisateur</h1>

        {{ include('utilisateur/Back/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
