{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ include('utilisateur/Back/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
