{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="py-5">Index des articles</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Rubrique</th>
            <th scope="col">Date de création</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                {% for rubrique in menu %}
                    {% if article.rubrique.id == rubrique.id %}
                        <td>{{ rubrique.titre }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}
