{% extends 'base.html.twig' %}

{% block title %}Repondre à la demande{% endblock %}

{% block body %}
    <div class="container">
        <h1>Répondre à la demande</h1>

        {{ include('demande/_form.html.twig') }}
    </div>

{% endblock %}
