{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .item{
        margin-top: 50px;
        min-height: 150px;

        display: flex;
        justify-content: start;

    }
    .item:nth-child(2n){
        justify-content: end;
    }
    .item-image{
        width: 50%;
    }
    .item-titre{
    }
    .item-text{

    }
</style>

<div class="container">
    <div class="d-flex flex-column align-items-center d-flex mt-5">
        <h1>M-Musculation</h1>
        <h2>Prêt à gagner du Muscle ?</h2>
    </div>
    <div class="d-flex flex-column">
        <div class="item">
            <div class="col-7">
                <h3 class="item-titre">Gagner du muscle...</h3>
                <p class="item-text col-8">Grâce à nos coachs experimentés et leurs programmes sur mesures vous prendrez du muscle en un rien de temps</p>
            </div>
            <div class="col">
                <img class="item-image" src="" alt="">
            </div>
        </div>
        <div class="item">
                <div class="col">
                    <img class="item-image" src="" alt="">
                </div>
                <div class="col-7 d-flex flex-column align-items-end">
                    <h3 class="item-titre text-right">...Même à distance...</h3>
                    <p class="item-text col-8 text-right">Grâce a notre application dédiée retrouvez toutes les fonctionnalitées de la salle depuis n'importe où</p>
                </div>
        </div>
        <div class="item">
            <div class="col-7">
                <h3 class="item-titre">...Pour toujours avoir la pêche</h3>
                <p class="item-text col-8">Grâce à nos menu fais sur mesure par des dieteticiens professionnel</p>
            </div>
            <div class="col">
                <img class="item-image" src="" alt="">
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
{% endblock %}
