{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1>Administration</h1>
    <div class="d-flex pt-5">
        <div class="col">
            Voir les
            <a href="{{ path('admin_article_index') }}">Articles</a>
        </div>
        <div class="col">
            Voir les
            <a href="{{ path('rubrique_index') }}">Rubriques</a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="col">
            Voir les <a href="{{ path('admin_utilisateur_index') }}">Utilisateurs</a>
        </div>
        <div class="col">
            Voir les <a href="{{ path('abonnement_index') }}">Abonnements</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
