{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="pt-5">Nous contacter</h1>
        {{ include('demande/_form.html.twig') }}
    </div>
{% endblock %}
