<h3>Notification de demande</h3>

Bonjour, voici la notification de votre demande #{{ demande.id }}<br><br>

{{ demande.texte }}<br><br>


<a href="{{ url('app_login') }}">Se connecter</a>.<br><br>

Merci!
