{% extends 'base.html.twig' %}

{% block title %}Modifier mon profile{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier mon profile</h1>

        {{ include('utilisateur/Front/_form.html.twig') }}
    </div>

{% endblock %}
